<!-- carsapp/templates/carsapp/base.html -->
{% load static %}
<html>
  <head>
    <title>Cars Collection</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script defer src="{% static 'js/scripts.js' %}"></script>
  </head>
  <body>
    <h1 class="page-title">Cars Collection</h1>
    <nav>
      <a href="/">Home</a>
      <a href="add/">Add Car</a>
      {% if user.is_authenticated %}
      <a href="cars/signout/">Sign out</a>
      {% else %}
      <span>
        <a href="login/">Login</a> or
        <a href="signup/">Sign up</a>
      </span>
      {% endif %}
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
