<!-- carsapp/templates/carsapp/car_detail.html -->
{% extends 'carsapp/base.html' %} {% block content %}
<h2>&ldquo;{{ car.name }}&rdquo;</h2>
<main class="detail-page">
  <h4 class="car-detail-desc detail-desc-bg">{{ car.year }} {{ car.make }} {{ car.model }} {{ car.trim }} in {{car.color}}</h4>

  <figure class="car-detail">
    <img src="{{ car.photo_url }}" alt="{{ car.year }} {{ car.make }} {{ car.model }} {{ car.trim }}" class="car-photo" />
  </figure>

  <article class="detail-desc-bg">
    <p class="car-detail-desc">{{car.description}}</p>
  </article>

  <section class="comments">
    <div class="comments-header">
      <h4 class="comments-title">Comments</h4>
    </div>

    <div id="comment-add">
      <form method="POST" action="{% url 'add_car_comment' pk=car.pk %}" class="comment-form">
        {% csrf_token %}
        <textarea name="comment" class="comment-field" rows="6" placeholder="Add a comment..." class="comment-textarea"></textarea>
        <button type="submit" class="save btn btn-default comment-btn">Add Comment</button>
      </form>
    </div>

    <ul class="comments-list">
      {% for c in comments.all %}
      <li>{{ c.comment }}</li>
      {% endfor %}
    </ul>
  </section>

  {% endblock %}
</main>
