<!-- carsapp/templates/carsapp/car_detail.html -->
{% extends 'carsapp/base.html' %} {% block content %}
<h2>&ldquo;{{ car.name }}&rdquo;</h2>
<main class="detail-page">
  <h4 class="car-detail-desc detail-desc-bg">{{ car.year }} {{ car.make }} {{ car.model }} {{ car.trim }} in {{car.color}}</h4>

  <figure class="car-detail">
    <img src="{{ car.photo_url }}" alt="{{ car.year }} {{ car.make }} {{ car.model }} {{ car.trim }}" class="car-photo" />
  </figure>

  <article class="detail-desc-bg">
    <p class="car-detail-desc">{{car.description}}</p>
  </article>

  <section class="comments">
    <div class="comments-header">
      <h4 class="comments-title">Comments</h4>
    </div>

    <div id="comment-section" class="hidden">
      <form method="POST" class="comment-form">
        {% csrf_token %}
        <textarea name="comment-text" class="comment-field" rows="6" placeholder="Add a comment..." class="comment-textarea"></textarea>
        <button type="submit" class="save btn btn-default comment-btn">Save</button>
      </form>
    </div>
    <ol>
      {% for comment in car.comments.all %}
      <li>
        <a href="">{{ comment.comment }}</a>
      </li>
      {% endfor %}
    </ol>
  </section>

  {% endblock %}
</main>
