body {
  margin: 20px 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url('https://evilgeniuscreative.com/theroad.webp');
  background-size: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeBlue {
  from {
    background-color: white;
  }
  to {
    background-color: #bddbef;
  }
}

h1,
h2 {
  margin: 0;
}

h1 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0 auto;
}

h2 {
  background-color: #89b6d3;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #bddbef;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

nav a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(0, 0, 238);
}

.page-title {
  text-align: center;
  padding: 15px 0;
  background-color: #edf4ff;
}

.cars-list {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 40px;
  flex-wrap: wrap;
}

.car {
  animation-name: fadeBlue;
  animation-duration: 6s;
  animation-iteration-count: 1;
  background-color: #edf4ff;
  border: 1px solid #eee;
  border-radius: 5px;
  flex-basis: 25%;
  overflow: hidden;
}

.car p {
  text-align: center;
  font-size: 13px;
}

.car-link {
  display: block;
  height: 250px;
  width: auto;
  background-size: cover;
  background-position: center center;
}

.car-image {
  max-width: 100%;
}

.detail-page {
  margin: 0 auto;
  width: 768px;
}

.detail-desc-bg {
  background-color: white;
  border-radius: 5px;
  margin: 10px auto;
  padding: 15px;
  width: 660px;
}

.car-detail-desc {
  text-align: center;
}

.detail-page .car-detail {
  border: 1px solid #eee;
  border-radius: 5px;
}

.detail-page img {
  border-radius: 5px;
  height: auto;
  max-width: 100%;
}

#comment-form {
  background: white;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px 15px;
  width: 80%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.comment-btn {
  padding: 8px 15px;
  border-radius: 5px;
  width: 250px;
  margin: 0 auto;
}

.comment-field {
  border-radius: 5px;
  margin-bottom: 10px;
}

.comments {
  background: white;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px 15px;
  width: 660px;
}

.comments-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.comments-title {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.comments-add {
  display: inline-block;
  text-align: right;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.comment {
  padding: 15px;
  font-size: 14px;
  font-style: italic;
}
.comment::first-letter {
  font-size: 16px;
  font-weight: bold;
}
